In [3]:
import pandas as pd

In [4]:
#All defense csvs
df15=pd.read_csv('../Data/Team_Stats/2015_team_defense.csv')
df16=pd.read_csv('../Data/Team_Stats/2016_team_defense.csv')
df17=pd.read_csv('../Data/Team_Stats/2017_team_defense.csv')
df18=pd.read_csv('../Data/Team_Stats/2018_team_defense.csv')
df19=pd.read_csv('../Data/Team_Stats/2019_team_defense.csv')
# df_merge= df15[:32].append([df16[:32], df17[:32], df18[:32], df19[:32]])
# df_merge.to_csv('2015-2019_defense.csv')

In [5]:
#All offense csvs
of15=pd.read_csv('../Data/Team_Stats/2015_team_offense.csv')
of16=pd.read_csv('../Data/Team_Stats/2016_team_offense.csv')
of17=pd.read_csv('../Data/Team_Stats/2017_team_offense.csv')
of18=pd.read_csv('../Data/Team_Stats/2018_team_offense.csv')
of19=pd.read_csv('../Data/Team_Stats/2019_team_offense.csv')
# of_merge= of15[:32].append([of16[:32], of17[:32], of18[:32], of19[:32]])
# of_merge.to_csv('2015-2019_offense.csv')

In [6]:
#2015
df_2015 = of15.merge(df15, how='inner', left_on='Tm_Off', right_on='Tm_Def')
df_2015.head()

,Year_Off,Rk_Off,Tm_Off,Win_Off,Loss_Off,G_Off,PF_Off,Total Yds_Off,Plays_Off,Y/P_Off,...,Rush Yds_Def,Rush TD_Def,Rush Y/A_Def,Rush 1stD_Def,Pen_Def,Pen Yds_Def,1stPy_Def,Sc%_Def,TO%_Def,EXP_Def
0,2015,1,Carolina Panthers,15,1,16,500,5871,1060,5.5,...,1415,11,3.9,74,99,822,26,26.5,19.4,117.70
1,2015,2,Arizona Cardinals,13,3,16,489,6533,1041,6.3,...,1460,9,3.9,79,130,1202,28,31.7,16.7,34.93
2,2015,3,New England Patriots,12,4,16,465,5991,1050,5.7,...,1578,8,4.0,77,112,1013,22,28.9,10.5,27.26
3,2015,4,Seattle Seahawks,10,6,16,423,6058,1035,5.9,...,1304,10,3.6,71,94,795,27,29.3,13.2,59.08
4,2015,5,Pittsburgh Steelers,10,6,16,423,6327,1011,6.3,...,1459,6,3.8,71,121,1199,25,32.3,14.3,37.09

In [7]:
df_2015 = df_2015.drop('Year_Def', 1)
df_2015 = df_2015.drop('Win_Def', 1)
df_2015 = df_2015.drop('Loss_Def', 1) 
df_2015 = df_2015.drop('Tm_Def', 1)
df_2015 = df_2015.drop('G_Def', 1)
df_2015.head()

,Year_Off,Rk_Off,Tm_Off,Win_Off,Loss_Off,G_Off,PF_Off,Total Yds_Off,Plays_Off,Y/P_Off,...,Rush Yds_Def,Rush TD_Def,Rush Y/A_Def,Rush 1stD_Def,Pen_Def,Pen Yds_Def,1stPy_Def,Sc%_Def,TO%_Def,EXP_Def
0,2015,1,Carolina Panthers,15,1,16,500,5871,1060,5.5,...,1415,11,3.9,74,99,822,26,26.5,19.4,117.70
1,2015,2,Arizona Cardinals,13,3,16,489,6533,1041,6.3,...,1460,9,3.9,79,130,1202,28,31.7,16.7,34.93
2,2015,3,New England Patriots,12,4,16,465,5991,1050,5.7,...,1578,8,4.0,77,112,1013,22,28.9,10.5,27.26
3,2015,4,Seattle Seahawks,10,6,16,423,6058,1035,5.9,...,1304,10,3.6,71,94,795,27,29.3,13.2,59.08
4,2015,5,Pittsburgh Steelers,10,6,16,423,6327,1011,6.3,...,1459,6,3.8,71,121,1199,25,32.3,14.3,37.09

In [8]:
df_2015 = df_2015.rename(columns={'Year_Off': 'Year', 'Win_Off': 'Win', 'Loss_Off': 'Loss', 'Tm_Off': 'Team', 'G_Off': 'Games'})
df_2015.head()

,Year,Rk_Off,Team,Win,Loss,Games,PF_Off,Total Yds_Off,Plays_Off,Y/P_Off,...,Rush Yds_Def,Rush TD_Def,Rush Y/A_Def,Rush 1stD_Def,Pen_Def,Pen Yds_Def,1stPy_Def,Sc%_Def,TO%_Def,EXP_Def
0,2015,1,Carolina Panthers,15,1,16,500,5871,1060,5.5,...,1415,11,3.9,74,99,822,26,26.5,19.4,117.70
1,2015,2,Arizona Cardinals,13,3,16,489,6533,1041,6.3,...,1460,9,3.9,79,130,1202,28,31.7,16.7,34.93
2,2015,3,New England Patriots,12,4,16,465,5991,1050,5.7,...,1578,8,4.0,77,112,1013,22,28.9,10.5,27.26
3,2015,4,Seattle Seahawks,10,6,16,423,6058,1035,5.9,...,1304,10,3.6,71,94,795,27,29.3,13.2,59.08
4,2015,5,Pittsburgh Steelers,10,6,16,423,6327,1011,6.3,...,1459,6,3.8,71,121,1199,25,32.3,14.3,37.09

In [9]:
#2016
df_2016 = of16.merge(df16, how='inner', left_on='Tm_Off', right_on='Tm_Def')
df_2016.head()

,Year_Off,Rk_Off,Tm_Off,Win_Off,Loss_Off,G_Off,PF_Off,Total Yds_Off,Plays_Off,Y/P_Off,...,Rush Yds_Def,Rush TD_Def,Rush Y/A_Def,Rush 1stD_Def,Pen_Def,Pen Yds_Def,1stPy_Def,Sc%_Def,TO%_Def,EXP_Def
0,2016,1,Atlanta Falcons,11,5,16,540,6653,995,6.7,...,1672,15,4.5,95,113,974,31,39.2,11.4,-34.14
1,2016,2,New Orleans Saints,7,9,16,469,6816,1105,6.2,...,1626,19,4.1,91,104,881,32,45.3,12.2,-61.65
2,2016,3,New England Patriots,14,2,16,441,6180,1056,5.9,...,1417,6,3.9,81,113,930,23,26.8,11.2,108.15
3,2016,4,Green Bay Packers,10,6,16,432,5900,1029,5.7,...,1515,11,4.0,80,109,964,22,41.0,13.9,-29.27
4,2016,5,Dallas Cowboys,13,3,16,421,6027,1010,6.0,...,1336,9,3.9,79,90,784,25,35.1,11.3,-27.42

In [10]:
df_2016 = df_2016.drop('Year_Def', 1)
df_2016 = df_2016.drop('Win_Def', 1)
df_2016 = df_2016.drop('Loss_Def', 1) 
df_2016 = df_2016.drop('Tm_Def', 1)
df_2016 = df_2016.drop('G_Def', 1)
df_2016.head()

,Year_Off,Rk_Off,Tm_Off,Win_Off,Loss_Off,G_Off,PF_Off,Total Yds_Off,Plays_Off,Y/P_Off,...,Rush Yds_Def,Rush TD_Def,Rush Y/A_Def,Rush 1stD_Def,Pen_Def,Pen Yds_Def,1stPy_Def,Sc%_Def,TO%_Def,EXP_Def
0,2016,1,Atlanta Falcons,11,5,16,540,6653,995,6.7,...,1672,15,4.5,95,113,974,31,39.2,11.4,-34.14
1,2016,2,New Orleans Saints,7,9,16,469,6816,1105,6.2,...,1626,19,4.1,91,104,881,32,45.3,12.2,-61.65
2,2016,3,New England Patriots,14,2,16,441,6180,1056,5.9,...,1417,6,3.9,81,113,930,23,26.8,11.2,108.15
3,2016,4,Green Bay Packers,10,6,16,432,5900,1029,5.7,...,1515,11,4.0,80,109,964,22,41.0,13.9,-29.27
4,2016,5,Dallas Cowboys,13,3,16,421,6027,1010,6.0,...,1336,9,3.9,79,90,784,25,35.1,11.3,-27.42

In [11]:
df_2016 = df_2016.rename(columns={'Year_Off': 'Year', 'Win_Off': 'Win', 'Loss_Off': 'Loss', 'Tm_Off': 'Team', 'G_Off': 'Games'})
df_2016.head()

,Year,Rk_Off,Team,Win,Loss,Games,PF_Off,Total Yds_Off,Plays_Off,Y/P_Off,...,Rush Yds_Def,Rush TD_Def,Rush Y/A_Def,Rush 1stD_Def,Pen_Def,Pen Yds_Def,1stPy_Def,Sc%_Def,TO%_Def,EXP_Def
0,2016,1,Atlanta Falcons,11,5,16,540,6653,995,6.7,...,1672,15,4.5,95,113,974,31,39.2,11.4,-34.14
1,2016,2,New Orleans Saints,7,9,16,469,6816,1105,6.2,...,1626,19,4.1,91,104,881,32,45.3,12.2,-61.65
2,2016,3,New England Patriots,14,2,16,441,6180,1056,5.9,...,1417,6,3.9,81,113,930,23,26.8,11.2,108.15
3,2016,4,Green Bay Packers,10,6,16,432,5900,1029,5.7,...,1515,11,4.0,80,109,964,22,41.0,13.9,-29.27
4,2016,5,Dallas Cowboys,13,3,16,421,6027,1010,6.0,...,1336,9,3.9,79,90,784,25,35.1,11.3,-27.42

In [12]:
#2017
df_2017 = of17.merge(df17, how='inner', left_on='Tm_Off', right_on='Tm_Def')
df_2017.head()

,Year_Off,Rk_Off,Tm_Off,Win_Off,Loss_Off,G_Off,PF_Off,Total Yds_Off,Plays_Off,Y/P_Off,...,Rush Yds_Def,Rush TD_Def,Rush Y/A_Def,Rush 1stD_Def,Pen_Def,Pen Yds_Def,1stPy_Def,Sc%_Def,TO%_Def,EXP_Def
0,2017,1,Los Angeles Rams,11,5,16,478,5784,1000,5.8,...,1957,15,4.7,86,102,808,33,30.6,14.0,100.44
1,2017,2,New England Patriots,13,3,16,458,6307,1070,5.9,...,1836,6,4.7,98,111,1035,23,30.2,9.9,12.09
2,2017,3,Philadelphia Eagles,13,3,16,457,5852,1073,5.5,...,1267,7,3.8,62,101,917,33,27.1,15.4,162.09
3,2017,4,New Orleans Saints,11,5,16,448,6259,1000,6.3,...,1787,11,4.4,92,108,850,44,33.3,13.6,64.30
4,2017,5,Jacksonville Jaguars,10,6,16,417,5855,1078,5.4,...,1860,9,4.3,91,112,1050,23,23.9,15.6,252.15

In [13]:
df_2017 = df_2017.drop('Year_Def', 1)
df_2017 = df_2017.drop('Win_Def', 1)
df_2017 = df_2017.drop('Loss_Def', 1) 
df_2017 = df_2017.drop('Tm_Def', 1)
df_2017 = df_2017.drop('G_Def', 1)
df_2017.head()

,Year_Off,Rk_Off,Tm_Off,Win_Off,Loss_Off,G_Off,PF_Off,Total Yds_Off,Plays_Off,Y/P_Off,...,Rush Yds_Def,Rush TD_Def,Rush Y/A_Def,Rush 1stD_Def,Pen_Def,Pen Yds_Def,1stPy_Def,Sc%_Def,TO%_Def,EXP_Def
0,2017,1,Los Angeles Rams,11,5,16,478,5784,1000,5.8,...,1957,15,4.7,86,102,808,33,30.6,14.0,100.44
1,2017,2,New England Patriots,13,3,16,458,6307,1070,5.9,...,1836,6,4.7,98,111,1035,23,30.2,9.9,12.09
2,2017,3,Philadelphia Eagles,13,3,16,457,5852,1073,5.5,...,1267,7,3.8,62,101,917,33,27.1,15.4,162.09
3,2017,4,New Orleans Saints,11,5,16,448,6259,1000,6.3,...,1787,11,4.4,92,108,850,44,33.3,13.6,64.30
4,2017,5,Jacksonville Jaguars,10,6,16,417,5855,1078,5.4,...,1860,9,4.3,91,112,1050,23,23.9,15.6,252.15

In [14]:
df_2017 = df_2017.rename(columns={'Year_Off': 'Year', 'Win_Off': 'Win', 'Loss_Off': 'Loss', 'Tm_Off': 'Team', 'G_Off': 'Games'})
df_2017.head()

,Year,Rk_Off,Team,Win,Loss,Games,PF_Off,Total Yds_Off,Plays_Off,Y/P_Off,...,Rush Yds_Def,Rush TD_Def,Rush Y/A_Def,Rush 1stD_Def,Pen_Def,Pen Yds_Def,1stPy_Def,Sc%_Def,TO%_Def,EXP_Def
0,2017,1,Los Angeles Rams,11,5,16,478,5784,1000,5.8,...,1957,15,4.7,86,102,808,33,30.6,14.0,100.44
1,2017,2,New England Patriots,13,3,16,458,6307,1070,5.9,...,1836,6,4.7,98,111,1035,23,30.2,9.9,12.09
2,2017,3,Philadelphia Eagles,13,3,16,457,5852,1073,5.5,...,1267,7,3.8,62,101,917,33,27.1,15.4,162.09
3,2017,4,New Orleans Saints,11,5,16,448,6259,1000,6.3,...,1787,11,4.4,92,108,850,44,33.3,13.6,64.30
4,2017,5,Jacksonville Jaguars,10,6,16,417,5855,1078,5.4,...,1860,9,4.3,91,112,1050,23,23.9,15.6,252.15

In [15]:
#2018
df_2018 = of18.merge(df18, how='inner', left_on='Tm_Off', right_on='Tm_Def')
df_2018.head()

,Year_Off,Rk_Off,Tm_Off,Win_Off,Loss_Off,G_Off,PF_Off,Total Yds_Off,Plays_Off,Y/P_Off,...,Rush Yds_Def,Rush TD_Def,Rush Y/A_Def,Rush 1stD_Def,Pen_Def,Pen Yds_Def,1stPy_Def,Sc%_Def,TO%_Def,EXP_Def
0,2018,1,Kansas City Chiefs,12,4,16,565,6810,996,6.8,...,2114,19,5.0,129,107,881,43,40.8,14.9,-163.28
1,2018,2,Los Angeles Rams,13,3,16,527,6738,1060,6.4,...,1957,12,5.1,101,99,852,36,38.2,16.9,-74.04
2,2018,3,New Orleans Saints,13,3,16,504,6067,1010,6.0,...,1283,12,3.6,72,85,814,37,36.0,14.6,-83.80
3,2018,4,New England Patriots,11,5,16,436,6295,1073,5.9,...,1803,7,4.9,93,91,838,21,32.6,15.0,-32.66
4,2018,5,Indianapolis Colts,10,6,16,433,6179,1070,5.8,...,1630,12,3.9,87,131,1115,25,35.5,14.5,-37.23

In [16]:
df_2018 = df_2018.drop('Year_Def', 1)
df_2018 = df_2018.drop('Win_Def', 1)
df_2018 = df_2018.drop('Loss_Def', 1) 
df_2018 = df_2018.drop('Tm_Def', 1)
df_2018 = df_2018.drop('G_Def', 1)
df_2018.head()

,Year_Off,Rk_Off,Tm_Off,Win_Off,Loss_Off,G_Off,PF_Off,Total Yds_Off,Plays_Off,Y/P_Off,...,Rush Yds_Def,Rush TD_Def,Rush Y/A_Def,Rush 1stD_Def,Pen_Def,Pen Yds_Def,1stPy_Def,Sc%_Def,TO%_Def,EXP_Def
0,2018,1,Kansas City Chiefs,12,4,16,565,6810,996,6.8,...,2114,19,5.0,129,107,881,43,40.8,14.9,-163.28
1,2018,2,Los Angeles Rams,13,3,16,527,6738,1060,6.4,...,1957,12,5.1,101,99,852,36,38.2,16.9,-74.04
2,2018,3,New Orleans Saints,13,3,16,504,6067,1010,6.0,...,1283,12,3.6,72,85,814,37,36.0,14.6,-83.80
3,2018,4,New England Patriots,11,5,16,436,6295,1073,5.9,...,1803,7,4.9,93,91,838,21,32.6,15.0,-32.66
4,2018,5,Indianapolis Colts,10,6,16,433,6179,1070,5.8,...,1630,12,3.9,87,131,1115,25,35.5,14.5,-37.23

In [17]:
df_2018 = df_2018.rename(columns={'Year_Off': 'Year', 'Win_Off': 'Win', 'Loss_Off': 'Loss', 'Tm_Off': 'Team', 'G_Off': 'Games'})
df_2018.head()

,Year,Rk_Off,Team,Win,Loss,Games,PF_Off,Total Yds_Off,Plays_Off,Y/P_Off,...,Rush Yds_Def,Rush TD_Def,Rush Y/A_Def,Rush 1stD_Def,Pen_Def,Pen Yds_Def,1stPy_Def,Sc%_Def,TO%_Def,EXP_Def
0,2018,1,Kansas City Chiefs,12,4,16,565,6810,996,6.8,...,2114,19,5.0,129,107,881,43,40.8,14.9,-163.28
1,2018,2,Los Angeles Rams,13,3,16,527,6738,1060,6.4,...,1957,12,5.1,101,99,852,36,38.2,16.9,-74.04
2,2018,3,New Orleans Saints,13,3,16,504,6067,1010,6.0,...,1283,12,3.6,72,85,814,37,36.0,14.6,-83.80
3,2018,4,New England Patriots,11,5,16,436,6295,1073,5.9,...,1803,7,4.9,93,91,838,21,32.6,15.0,-32.66
4,2018,5,Indianapolis Colts,10,6,16,433,6179,1070,5.8,...,1630,12,3.9,87,131,1115,25,35.5,14.5,-37.23

In [18]:
#2019
df_2019 = of19.merge(df19, how='inner', left_on='Tm_Off', right_on='Tm_Def')
df_2019.head()

,Year_Off,Rk_Off,Tm_Off,Win_Off,Loss_Off,G_Off,PF_Off,Total Yds_Off,Plays_Off,Y/P_Off,...,Rush Yds_Def,Rush TD_Def,Rush Y/A_Def,Rush 1stD_Def,Pen_Def,Pen Yds_Def,1stPy_Def,Sc%_Def,TO%_Def,EXP_Def
0,2019,1,Baltimore Ravens,14,2,16,531,6521,1064,6.1,...,1494,12,4.4,74,97,795,39,32.9,14.6,16.61
1,2019,2,San Francisco 49ers,13,3,16,479,6097,1012,6.0,...,1802,11,4.5,105,116,957,30,29.0,14.2,77.41
2,2019,3,Tampa Bay Buccaneers,7,9,16,458,6366,1086,5.9,...,1181,11,3.3,70,111,971,39,39.6,13.5,12.23
3,2019,4,New Orleans Saints,13,3,16,458,5982,1011,5.9,...,1461,12,4.2,71,92,713,43,34.7,12.7,-41.89
4,2019,5,Kansas City Chiefs,12,4,16,451,6067,976,6.2,...,2051,14,4.9,115,116,844,39,34.6,13.6,-65.69

In [19]:
df_2019 = df_2019.drop('Year_Def', 1)
df_2019 = df_2019.drop('Win_Def', 1)
df_2019 = df_2019.drop('Loss_Def', 1) 
df_2019 = df_2019.drop('Tm_Def', 1)
df_2019 = df_2019.drop('G_Def', 1)
df_2019.head()

,Year_Off,Rk_Off,Tm_Off,Win_Off,Loss_Off,G_Off,PF_Off,Total Yds_Off,Plays_Off,Y/P_Off,...,Rush Yds_Def,Rush TD_Def,Rush Y/A_Def,Rush 1stD_Def,Pen_Def,Pen Yds_Def,1stPy_Def,Sc%_Def,TO%_Def,EXP_Def
0,2019,1,Baltimore Ravens,14,2,16,531,6521,1064,6.1,...,1494,12,4.4,74,97,795,39,32.9,14.6,16.61
1,2019,2,San Francisco 49ers,13,3,16,479,6097,1012,6.0,...,1802,11,4.5,105,116,957,30,29.0,14.2,77.41
2,2019,3,Tampa Bay Buccaneers,7,9,16,458,6366,1086,5.9,...,1181,11,3.3,70,111,971,39,39.6,13.5,12.23
3,2019,4,New Orleans Saints,13,3,16,458,5982,1011,5.9,...,1461,12,4.2,71,92,713,43,34.7,12.7,-41.89
4,2019,5,Kansas City Chiefs,12,4,16,451,6067,976,6.2,...,2051,14,4.9,115,116,844,39,34.6,13.6,-65.69

In [20]:
df_2019 = df_2019.rename(columns={'Year_Off': 'Year', 'Win_Off': 'Win', 'Loss_Off': 'Loss', 'Tm_Off': 'Team', 'G_Off': 'Games'})
df_2019.head()

,Year,Rk_Off,Team,Win,Loss,Games,PF_Off,Total Yds_Off,Plays_Off,Y/P_Off,...,Rush Yds_Def,Rush TD_Def,Rush Y/A_Def,Rush 1stD_Def,Pen_Def,Pen Yds_Def,1stPy_Def,Sc%_Def,TO%_Def,EXP_Def
0,2019,1,Baltimore Ravens,14,2,16,531,6521,1064,6.1,...,1494,12,4.4,74,97,795,39,32.9,14.6,16.61
1,2019,2,San Francisco 49ers,13,3,16,479,6097,1012,6.0,...,1802,11,4.5,105,116,957,30,29.0,14.2,77.41
2,2019,3,Tampa Bay Buccaneers,7,9,16,458,6366,1086,5.9,...,1181,11,3.3,70,111,971,39,39.6,13.5,12.23
3,2019,4,New Orleans Saints,13,3,16,458,5982,1011,5.9,...,1461,12,4.2,71,92,713,43,34.7,12.7,-41.89
4,2019,5,Kansas City Chiefs,12,4,16,451,6067,976,6.2,...,2051,14,4.9,115,116,844,39,34.6,13.6,-65.69

In [21]:
#Combined All years
combined_df = df_2015[:32].append([df_2016[:32], df_2017[:32], df_2018[:32], df_2019[:32]])
combined_df

,Year,Rk_Off,Team,Win,Loss,Games,PF_Off,Total Yds_Off,Plays_Off,Y/P_Off,...,Rush Yds_Def,Rush TD_Def,Rush Y/A_Def,Rush 1stD_Def,Pen_Def,Pen Yds_Def,1stPy_Def,Sc%_Def,TO%_Def,EXP_Def
0,2015,1,Carolina Panthers,15,1,16,500,5871,1060,5.5,...,1415,11,3.9,74,99,822,26,26.5,19.4,117.70
1,2015,2,Arizona Cardinals,13,3,16,489,6533,1041,6.3,...,1460,9,3.9,79,130,1202,28,31.7,16.7,34.93
2,2015,3,New England Patriots,12,4,16,465,5991,1050,5.7,...,1578,8,4.0,77,112,1013,22,28.9,10.5,27.26
3,2015,4,Seattle Seahawks,10,6,16,423,6058,1035,5.9,...,1304,10,3.6,71,94,795,27,29.3,13.2,59.08
4,2015,5,Pittsburgh Steelers,10,6,16,423,6327,1011,6.3,...,1459,6,3.8,71,121,1199,25,32.3,14.3,37.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,2019,28,Denver Broncos,7,9,16,282,4777,954,5.0,...,1783,9,4.2,96,121,1041,34,37.3,8.4,-35.98
28,2019,29,Chicago Bears,8,8,16,280,4749,1020,4.7,...,1632,16,3.9,86,113,923,30,31.5,10.7,-4.15
29,2019,30,Cincinnati Bengals,2,14,16,279,5169,1049,4.9,...,2382,17,4.7,124,122,988,21,39.8,8.8,-132.66
30,2019,31,New York Jets,7,9,16,276,4368,956,4.6,...,1391,12,3.3,75,107,902,40,34.4,10.1,-0.06
31,2019,32,Washington Redskins,3,13,16,266,4395,885,5.0,...,2339,14,4.7,120,94,805,34,41.9,12.2,-135.83

In [22]:
combined_df.to_csv('2015-2019_cleaned_data.csv', index = False)