In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Files to Load
stats_path = "../Data/Team_Stats/2000-2019_cleaned_data3.csv"

In [3]:
# Read files and store into Pandas data frames
stats_df = pd.read_csv(stats_path)

In [4]:
# Fill NaN values with 0
stats_df = stats_df.fillna(0)

In [10]:
# Display sample DF for review
stats_df.head()

,Year,Rk_Off,Team,Win,Loss,Games,PF_Off,Total Yds_Off,Plays_Off,Y/P_Off,...,Pen Yds_Def,1stPy_Def,Sc%_Def,TO%_Def,EXP_Def,Overall Production,Win/Loss_Pct,PPG_Off,PPG_Def,PT_Result
0,2000,1,St. Louis Rams,10,6,16,540,7075,1014,7.0,...,747,31,40.9,12.4,21.56,1581,0.6250,33.7500,29.4375,0.567933
1,2000,2,Denver Broncos,11,5,16,485,6554,1115,5.9,...,898,25,30.2,20.8,104.83,1010,0.6875,30.3125,23.0625,0.633371
2,2000,3,Oakland Raiders,12,4,16,479,5776,1023,5.6,...,912,33,26.9,18.7,185.58,527,0.7500,29.9375,18.6875,0.719607
3,2000,4,Indianapolis Colts,10,6,16,429,6141,1026,6.0,...,820,24,31.1,11.7,64.32,784,0.6250,26.8125,20.3750,0.633931
4,2000,5,Minnesota Vikings,11,5,16,397,5961,958,6.2,...,747,26,38.2,9.4,2.03,260,0.6875,24.8125,23.1875,0.533815

In [9]:
stats_df['PT_Result'] = (stats_df['PF_Off'] * stats_df['PF_Off']) / ((stats_df['PF_Off'] * stats_df['PF_Off']) + (stats_df['PF_Def'] * stats_df['PF_Def']))

In [11]:
stats_df.head()

,Year,Rk_Off,Team,Win,Loss,Games,PF_Off,Total Yds_Off,Plays_Off,Y/P_Off,...,Pen Yds_Def,1stPy_Def,Sc%_Def,TO%_Def,EXP_Def,Overall Production,Win/Loss_Pct,PPG_Off,PPG_Def,PT_Result
0,2000,1,St. Louis Rams,10,6,16,540,7075,1014,7.0,...,747,31,40.9,12.4,21.56,1581,0.6250,33.7500,29.4375,0.567933
1,2000,2,Denver Broncos,11,5,16,485,6554,1115,5.9,...,898,25,30.2,20.8,104.83,1010,0.6875,30.3125,23.0625,0.633371
2,2000,3,Oakland Raiders,12,4,16,479,5776,1023,5.6,...,912,33,26.9,18.7,185.58,527,0.7500,29.9375,18.6875,0.719607
3,2000,4,Indianapolis Colts,10,6,16,429,6141,1026,6.0,...,820,24,31.1,11.7,64.32,784,0.6250,26.8125,20.3750,0.633931
4,2000,5,Minnesota Vikings,11,5,16,397,5961,958,6.2,...,747,26,38.2,9.4,2.03,260,0.6875,24.8125,23.1875,0.533815

In [12]:
#Write combined DataFrame to .csv
stats_df.to_csv("../Data/Team_Stats/2000-2019_cleaned_data4.csv",index=False)