In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Files to Load
stats_path = "../Data/Team_Stats/2000-2019_cleaned_data5.csv"

In [3]:
# Read files and store into Pandas data frames
stats_df = pd.read_csv(stats_path)

In [4]:
# Fill NaN values with 0
stats_df = stats_df.fillna(0)

In [5]:
# Display sample DF for review
stats_df.head()

,Year,Rk_Off,Team,Win,Loss,Games,PF_Off,Total Yds_Off,Plays_Off,Y/P_Off,...,PPG_Def,PT_Result,PF_Off_Squared,PF_Def_Squared,PF_Off_Def_Squared,PT_Wins,PT_Losses,NY_Win,NY_Loss,NY_Win/Loss_Pct
0,2000,1,St. Louis Rams,10,6,16,540,7075,1014,7.0,...,29.4375,0.567933,291600,221841,513441,9,7,14,2,0.8750
1,2000,2,Denver Broncos,11,5,16,485,6554,1115,5.9,...,23.0625,0.633371,235225,136161,371386,10,6,8,8,0.5000
2,2000,3,Oakland Raiders,12,4,16,479,5776,1023,5.6,...,18.6875,0.719607,229441,89401,318842,12,4,10,6,0.6250
3,2000,4,Indianapolis Colts,10,6,16,429,6141,1026,6.0,...,20.3750,0.633931,184041,106276,290317,10,6,6,10,0.3750
4,2000,5,Minnesota Vikings,11,5,16,397,5961,958,6.2,...,23.1875,0.533815,157609,137641,295250,9,7,5,11,0.3125

In [6]:
# Calculate Differences between prediction and actual
stats_df['PT_Pct_Diff'] = stats_df['NY_Win/Loss_Pct'] - stats_df['PT_Result']
stats_df['Pct_Diff_Squared'] = stats_df['PT_Pct_Diff'] * stats_df['PT_Pct_Diff']
stats_df['PT_Win_Diff'] = stats_df['NY_Win'] - stats_df['PT_Wins']
stats_df['Win_Diff_Squared'] = stats_df['PT_Win_Diff'] * stats_df['PT_Win_Diff']
stats_df['PT_Loss_Diff'] = stats_df['NY_Loss'] - stats_df['PT_Losses']
stats_df['Loss_Diff_Squared'] = stats_df['PT_Loss_Diff'] * stats_df['PT_Loss_Diff']
stats_df.head()

,Year,Rk_Off,Team,Win,Loss,Games,PF_Off,Total Yds_Off,Plays_Off,Y/P_Off,...,PT_Losses,NY_Win,NY_Loss,NY_Win/Loss_Pct,PT_Pct_Diff,Pct_Diff_Squared,PT_Win_Diff,Win_Diff_Squared,PT_Loss_Diff,Loss_Diff_Squared
0,2000,1,St. Louis Rams,10,6,16,540,7075,1014,7.0,...,7,14,2,0.8750,0.307067,0.094290,5,25,-5,25
1,2000,2,Denver Broncos,11,5,16,485,6554,1115,5.9,...,6,8,8,0.5000,-0.133371,0.017788,-2,4,2,4
2,2000,3,Oakland Raiders,12,4,16,479,5776,1023,5.6,...,4,10,6,0.6250,-0.094607,0.008951,-2,4,2,4
3,2000,4,Indianapolis Colts,10,6,16,429,6141,1026,6.0,...,6,6,10,0.3750,-0.258931,0.067045,-4,16,4,16
4,2000,5,Minnesota Vikings,11,5,16,397,5961,958,6.2,...,7,5,11,0.3125,-0.221315,0.048981,-4,16,4,16

In [7]:
#Write combined DataFrame to .csv
stats_df.to_csv("../Data/Team_Stats/2000-2019_cleaned_data_Tableau.csv",index=False)